test-cxf-base64-ws/src/main/resources/wsdl/ByteOperationsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/ByteOperationsService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ByteOperationsService"
	targetNamespace="http://www.example.org/ByteOperationsService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/ByteOperationsService">
			<xsd:element name="CountBytesRequestType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="bytesToCount" type="xsd:base64Binary" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CountBytesResponseType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sizeInBytes" type="xsd:long" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CountBytesRequest">
		<wsdl:part element="tns:CountBytesRequestType" name="request" />
	</wsdl:message>
	<wsdl:message name="CountBytesResponse">
		<wsdl:part element="tns:CountBytesResponseType" name="response" />
	</wsdl:message>
	<wsdl:portType name="ByteOperationsPortType">
		<wsdl:operation name="CountBytes">
			<wsdl:input message="tns:CountBytesRequest" />
			<wsdl:output message="tns:CountBytesResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ByteOperationsSOAPBinding" type="tns:ByteOperationsPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CountBytes">
			<soap:operation soapAction="http://www.example.org/ByteOperationsService/CountBytes" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ByteOperationsService">
		<wsdl:port binding="tns:ByteOperationsSOAPBinding" name="ByteOperationsPort">
			<soap:address location="http://localhost:8080/cxf/services/ByteOperationsService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
